.searchBarContainer {
    display: grid;
    place-content: center;
}

.input {
    background-color: #fff;
    width: 217px;
    font-size: 1.1rem;
    height: 40px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-right: 23px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.searchButton {
    height: 40px;
    padding: 8px 16px;
    background-color: rgba(84, 59, 20, 0.681);
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: rgba(84, 59, 20, 0.346);
}

.searchSpan {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/searchIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.divButtons {
    margin-top: 5px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.createButton,
.resetButton {
    font-family: Arial, sans-serif;
    margin: 10px 0 10px 0;
    font-size: 1.1rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    color: #333;
    outline: none;
    width: 150px;
    cursor: pointer;
}

.createButton:hover {
    transition: all 0.3s ease;
    background-color: rgb(106, 198, 255)
}

.resetButton:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(208, 22, 22, 0.821);
}

.divFilters {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}