.navButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px 5px 20px 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #ddd;
}

.button:active {
    color: white;
}

.currentPage {
    margin: 0 10px;
    font-size: 25px;
    color: black;
}